<%- include("../../partials/dashboard/playerPartials/dashboardNavbar") %>
<h1>Welcome, player!</h1>
<iframe id="content-frame" src="" width="100%" height="800px" style="border: none;"></iframe>
<script src="/js/dashboard-nav/for_navbar_elements.js"></script>
