/* public/css/home.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.main-body {
    flex: 4;
    padding-right: 20px;
}

.side-features {
    flex: 1;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#slogan {
    text-align: center;
    margin-bottom: 20px;
}

#slideshow {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide img {
    width: 100%;
    border-radius: 8px;
}

.image-caption {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
}

/* Statistics Section */
#statistics {
    margin-top: 30px;
}

.stat-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.stat-component.show {
    opacity: 1;
    transform: translateY(0);
}

.stat-text {
    flex: 1;
    padding: 10px;
}

.stat-graph {
    flex: 1;
    height: 150px;
    background: #eee;
    border-radius: 8px;
}

.even {
    flex-direction: row-reverse;
}