<nav>
    <div class="nav-left">
         <nav class="dashboard-links">
        <button id="homepage">Homepage</button>
            <button id="growth-tracking">Growth Tracking</button>
            <button id="tournaments">Tournaments</button>
            <button id="manage-subscription">Manage Subscription</button>
            <button id="ecommerce-store">E-Commerce Store</button>
        </nav>
    </div>
    <div class="nav-right">
        <div class="account-dropdown">
            <img src="/images/dashboard-profile-icon.png" alt="Profile" id="profileIcon">
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="/dashboard/profile">Dashboard Profile</a>
                <a href="/dashboard/settings">Dashboard Settings</a>
                <a href="/auth/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
