<nav class="login-signup" id="login-signup">
    <div class="buttons-container">
        <div class="button-wrapper">
            <button id="signupbtn">Sign In</button>
        </div>

        <div class="button-wrapper">
            <button id="loginbtn">Login</button>
        </div>
    </div>
    <button class="menu-toggle" id="menuToggle">☰</button>
</nav>
