<nav class="login-signup" id="login-signup">
    <div class="buttons-container">
        <button id="signupbtn">Sign In</button>
        <button id="loginbtn">Login</button>
    </div>
    <button class="menu-toggle" id="menuToggle">☰</button>
</nav>
