<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/home/home.css">
    <link rel="stylesheet" href="/css/partials/login-signup.css">
    <link rel="stylesheet" href="/css/partials/sidebar.css">
    <link rel="stylesheet" href="/css/partials/footer.css">
</head>
<body>
   
    <div class="content">
        <!-- Load Role-Specific Dashboard -->
        <%- include(body) %>  
    </div>
    
    
    <script src="/js/partials/homepage/sidebar.js"></script>
    <script src="/js/partials/homepage/authredirect.js"></script>
</body>
</html>
