<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    
    <!-- Role-Specific CSS -->
    <% if (req.user.role === 'player') { console.log(req.user.role) %>
        <link rel="stylesheet" href="/css/dashboards/player/navbar.css">
    <% } else if (req.user.role === 'organizer') {console.log("inside organizer"); %>
        <link rel="stylesheet" href="/css/dashboards/organizer/navbar.css">
    <% } else if (req.user.role === 'coordinator') { %>
        <link rel="stylesheet" href="/css/dashboards/coordinator/navbar.css">
    <% } %>

</head>
<body>
   
  
        <!-- Load Role-Specific Dashboard -->
       
        <%- include(body) %> 
         
    
    
    <!-- Common Scripts -->
    <script src="/js/partials/dashboard/dashboard.js"></script>
    <script src="/js/partials/homepage/authredirect.js"></script>
</body>
</html>
