<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="/css/style.css">
       
    <% if (body === '../auth/signup') {%>
        <link rel="stylesheet" href="/css/signin.css">
    <% } else if (body === '../auth/login') { %>
        <link rel="stylesheet" href="/css/login.css">
    <% } %>
</head>
<body>
    <%- include(body) %>
</body>
</html>
