<nav>
    <div class="nav-left">
        <a href="/dashboard">Dashboard Home</a>
    </div>
    <div class="nav-right">
        <div class="account-dropdown">
            <img src="/images/dashboard-profile-icon.png" alt="Profile" id="profileIcon">
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="/dashboard/profile">Dashboard Profile</a>
                <a href="/dashboard/settings">Dashboard Settings</a>
                <a href="/auth/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
