<div>
<form action="/auth/login" method="POST">
    <h2>Login</h2>
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
    <a href="/auth/signup">Don't have an account? Signup</a>
</form>

</div>